<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
</head>
<body>
<h1>Britnie-Ann Gray</h1>
<p>I am a third year Computing student at the University of the West Indies.
    Although I have an interest in coding and computing I am not entirely sure
    the specific area of computing I would like to specialize in. Other things
    I enjoy doing include: swimming, eating, jogging, coloring and crocheting. 
    Despite my lack of decision in my career specilization, I am committed and
    motivated to doing my best wherever I find myself.
</p>
</body>
</html>